.clearfix{*zoom:1}
.clearfix:before,
.clearfix:after{content:" ", display: table}
.clearfix:after{clear:both}

html,
body {
  height: 100%;
}

body {
  background: #fafafa;
  color: #444;
}

.wrapper {
  min-height: 100%;
  height: 100%;
  margin: 0 auto;
}

.container {
  padding: 0 25px;
  margin: 0 auto;
  /* width: 940px; */
  /* width: 93.75%; */    /* 960px / 1024px */
  /* width: 91.79%; */    /* 940px / 1024px */
}

.container h1 {
  font-size: 22px;
  line-height: 1;
  font-weight: 800;
  margin: 25px 0 20px 0;
}

.container h3 {
  font-size: 18px;
  padding-top: 0;
  margin-top: 0;
}

.info, .main {
  line-height: 1.6;
  padding: 1px 10px 0;
  margin: 20px auto 0;
  width: 830px;
  /* width: 60%; */    /* 940px / 1024px */
}

.info h2 {
  font-style: italic;
}

.main p {
  width: 550px;
}

.hidden {
  display: none;
}

/* @overwrite */
body { min-width: 0; }
#header h1 { width: auto; }

/* --- responsive --- */

@-ms-viewport { width: device-width }

@media (max-width: 979px) {
  /* .container h1 { color: green } */

  .info, .main { width: auto }

  /* @overwrite */
  #header h1 { width: 300px; padding-left: 20px; }
}

@media (max-width: 767px) {
  /* .container h1 { color: blue } */

  body { padding: 0 }
  .container { width: auto; padding: 0 }
  .main p { width: auto }
}

@media (max-width: 480px) {
  /* .container h1 { color: red } */
}
